body {
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.top-bar {
	background: rgba(35,152,242,1);
	background: -moz-linear-gradient(top, rgba(35,152,242,1) 0%, rgba(30,135,220,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(35,152,242,1)), color-stop(100%, rgba(30,135,220,1)));
	background: -webkit-linear-gradient(top, rgba(35,152,242,1) 0%, rgba(30,135,220,1) 100%);
	background: -o-linear-gradient(top, rgba(35,152,242,1) 0%, rgba(30,135,220,1) 100%);
	background: -ms-linear-gradient(top, rgba(35,152,242,1) 0%, rgba(30,135,220,1) 100%);
	background: linear-gradient(to bottom, rgba(35,152,242,1) 0%, rgba(30,135,220,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2398f2', endColorstr='#1e87dc', GradientType=0 );
}

.social-stream h3 {
	color: white;
	font-size: 140%;
	margin-left: 40%;
	padding-right: 0;
	padding-left: 2%;
	padding-top: 5%;
	padding-bottom: 1%;
}

.mini {
	color: white;
	padding-top: 1%;
	padding-bottom: -3%;
	text-align: right;
	font-size: 20%;
	margin-right: 25%;
	display: inline-block;
}

.top-nav {
	padding-right: 0%;
	margin-right: 0%;
	text-align: left;
	margin-left: 75%;
	margin-top: -2%;
	padding-bottom: 6px;
}

.main-bar {
	background: #134670;
	border-top: medium double #134670;
}


/*-----main sprites-----*/
.sprite-1 {
    background-image: url(main-nav-spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-doc-icon {
    width: 91px;
    height: 102px;
    background-position: -5px -5px;
}

.sprite-doc-icon:hover {
	background: url(doc-icon-blue.png) -1px -7px;
}

.sprite-graph-icon {
    width: 85px;
    height: 102px;
    background-position: -207px -5px;
}

.sprite-graph-icon:hover {
	background: url(graph-icon-blue.png) -1px -7px;
}

.sprite-msg-icon {
    width: 89px;
    height: 102px;
    background-position: -207px -117px;
}

.sprite-msg-icon:hover {
	background: url("msg-icon-blue.png") -1px -7px;
}

.sprite-nav-icon {
    width: 83px;
    height: 102px;
    background-position: -199px -229px;
}

.sprite-nav-icon:hover {
	background: url("nav-icon-blue.png") -1px -7px;
}

.sprite-ppl-icon {
    width: 93px;
    height: 102px;
    background-position: -306px -126px;
}

.sprite-ppl-icon:hover {
	background: url("ppl-icon-blue.png") -1px -7px;
}

.sprite-tag-icon {
    width: 90px;
    height: 102px;
    background-position: -5px -359px;
}

.sprite-tag-icon:hover {
	background: url("tag-icon-blue.png") -1px -7px;
}


.main-icons { 
	margin-left: 30%;
	padding-bottom: -50%;
	padding-top: 1%;
 }

 .main-bar {
 	background-image: url(main-nav-bg.png);
 	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
 	padding-top: 1%;
 	margin-bottom: 0;
 }

 .marker {
 	margin-left: 30%;
 	padding-bottom: 0;
 	margin-bottom: 0;
 	top: 5px;
 }


 /*-----dashboard-----*/
.dash {
	padding-left: 15%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
}

.dash {
	background: #33cc66;
	color: white;
	border-radius: 10px;
	padding-top: 2%;
	padding-bottom: 1%;
	padding-left: 2%;
}
.search-bar {
	margin: 0; 
	margin-top: 1px;
	padding: 0;
	margin-left: 40%;
	padding-bottom: 1%;
}

/*.search-bar .search-query {
	padding-right: 3px;
	padding-right: 4px \9;
	padding-left: 3px;
	padding-left: 4px \9;

	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 5px;
}

.search-bar button {
	border: 0;
	background: 0;

	padding: 2px 5px;
	margin-top: 2px;
	position: relative;
	left: -28px;
	bottom: 1px;

	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	visibility: visible;
}
*/
/*.search-query: focus + button {
	z-index: 3;
}*/

/*.search-icon {

	height: 60px;
	width: 60px;
}

.search-icon img {
	padding-right: 30%;
}

.search-icon:hover {
	visibility: visible;
}

.btn-default {
	height: 40px;
	visibility: visible;
}

.btn-danger: {

}*/


.search-col {
	max-width: 100%;
}

.add-on .input-group-btn > .btn {
  border-left: 0;
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
  border-right: 0;
}

.form-control {
  border-right: 0;
}

.bt-default {
	border: 1px grey solid;
}


/*------grey gradient------*/
.main-col-grad {
	background: url("grey-gradient-bg.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	padding-top: 1%;
}

/*---- main content column ----*/

.main-col {
	background: white;
	padding-top: 2%;
	border: 1px solid #e9e9e9;
	border-radius: 1px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

/*----content header ---*/

.announce {
	color: #fe7f13;
	padding-left: 5%;
	padding-top: 28px;
	margin-top: -2%;
	border: 1px solid #e9e9e9;
}

.head-text p {
	color: #777777;
	font-size: 90%;
}

.head-text {
	border: 1px solid #e9e9e9;
	padding-left: 2%;
	padding-top: 2%;
	margin-top: -2%;
}

.arrows {
	padding-bottom: 2%;
	margin-top: 0%;
	margin: 0 auto;

	border: 1px solid #e9e9e9;
	padding-left: 2%;
	padding-top: 2%;
	margin-top: -2%;

}

.content-body h2, h4 {
	color: #2498f4;
}

/*----tasks----*/

.tasks-list:hover h4{
	color: grey;
}

.tasks-list: hover .numberCirle {
	background: grey;
}

.left-content-col {
	border: 1px solid #e9e9e9;
	padding: 0;
}

.right-content-col {
	padding: 0;
}

.tasks {
	padding: 0; 
	border: 1px solid #e9e9e9;
	padding-top: 4%;
}

.tasks-head {
	margin: 0;
	padding-left: 4%;
	padding-bottom: 4%;
}

.tasks-head img {
	float: right;
	padding-right: 8%;
	padding-top: 1%;
}

.tasks-list {
	border: 1px solid #e9e9e9;
	padding-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
	padding-left: 2%;
}

.tasks-list h4{
	text-align: left;
	padding-top: 2px;
	padding-bottom: 2%;
}

.tasks-list img {
	padding-top: 5%;
	padding-bottom: 3%;
}

.num-1 {
	background-image: url(num-1.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
	width: 25px;

}

.task-1:hover .num-1 {
	background: url(num-1-grey.png);
	 background-repeat: no-repeat;
	height: 16px;
	width: 25px;

}

.ppl-1 {
	background-image: url(task-ppl-1.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
	width: 80px;

}

.task-1:hover .ppl-1 {
	background: url(task-ppl-1-grey.png);
	 background-repeat: no-repeat;
	height: 30px;
	width: 80px;

}

.num-2 {
	background-image: url(num-2.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
	width: 25px;

}

.task-2:hover .num-2 {
	background: url(num-2-grey.png);
	 background-repeat: no-repeat;
	height: 16px;
	width: 25px;

}

.ppl-2 {
	background-image: url(task-ppl-2.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
	width: 80px;

}

.task-2:hover .ppl-2 {
	background: url(task-ppl-1-grey.png);
	 background-repeat: no-repeat;
	height: 30px;
	width: 80px;

}

.num-3 {
	background-image: url(num-3.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
	width: 25px;

}

.task-3:hover .num-3 {
	background: url(num-3-grey.png);
	 background-repeat: no-repeat;
	height: 16px;
	width: 25px;

}

.ppl-3 {
	background-image: url(task-ppl-3.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
	width: 80px;

}

.task-3:hover .ppl-3 {
	background: url(task-ppl-3-grey.png);
	 background-repeat: no-repeat;
	height: 30px;
	width: 80px;

}

.num-4 {
	background-image: url(num-4.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
	width: 25px;

}

.task-4:hover .num-4 {
	background: url(num-4-grey.png);
	 background-repeat: no-repeat;
	height: 16px;
	width: 25px;

}

.ppl-4 {
	background-image: url(task-ppl-4.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
	width: 80px;

}

.task-4:hover .ppl-4 {
	background: url(task-ppl-1-grey.png);
	 background-repeat: no-repeat;
	height: 30px;
	width: 80px;

}


/*.numberCircle {
	border-radius: 50%;
	width: 20px;
	font-size: 20px;
	background: #32cc66;
	margin: 0; 
}

.numberCircle span {
	text-align: center;
	line-height: 20px;
	display: inline-block;
	color: white;
	margin: 0;
	padding-bottom: 2%;
}*/

/*----recs-----*/

.recs {
	margin-bottom: 70%;
}

.recs h2 {
	padding-left: 4%;
	padding-top: 6%;
	padding-bottom: 2%;
}

.rec-row {
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	border-bottom: thin dotted #e5e5e5;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 95%;
}

.rec-text h5{
	color: #777777;
	font-size: 100%;
}

.rec-text p {
	padding-bottom: 0;
	margin: 0;
	font-size: 60%;
	color: #b5b5b5;
}

.rec-img {
	padding: 0;
	padding-right: 1%;
	padding-left: 3%;
}

/*----analytics------*/


.analytics {
	border: 1px solid #e9e9e9;
}

.analytics h2 {
	padding-left: 6%;
	padding-top: 4%;
}

.graph-box {
	padding-left: 10%;
	padding-right: 0;
}

.pie-grad {
	height: 100%;
	width: 3px;
	background: #dddddd; /* Old browsers */
	background: -moz-linear-gradient(left, #dddddd 0%, #eeeeee 50%, #f6f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #dddddd 0%,#eeeeee 50%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #dddddd 0%,#eeeeee 50%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 */

}

.pie-box {
	color: #999999;
	padding-left: 4%;
	padding-right: 0;
}

.pie-box p {
	margin-bottom: -1%;
	padding-top: 2%;
}

.graph-activity {
	color: #999999;
	font-size: 85%;
	padding-left: 6%;
}

.graph-row {
	padding-top: 2%;
}

.btn {
	border: 1px #dddddd solid;
	background: white;
	color: #666666;
}

.btn:hover {
	color: #666666;
	border: 1px #dddddd solid;
	background-color: white;
}

.btn:focus {
	color: #666666;
	border: 1px #dddddd solid;
	background-color: white;
}

.social {
	padding-top: 5%;
	margin-left: 25%;
	padding-bottom: 5%;
}


.uncheck input {
	display: none;
}

.uncheck span {
	display: inline-block;
	background: url("uncheck-box.png");
	height: 18px;
	width: 18px; 
}

.uncheck input:checked + span{
	height: 21px;
	width: 20px;
	background: url("check-box.png"); 
}

.media-icon {
	padding-bottom: 2%;
}

/*-----customers&contacts-----*/

.customers-contacts {
	border: 1px solid #e9e9e9;
	margin-left: auto;
	padding-top: 2%;
	padding-bottom: 2%;
}

.cc-left {
	margin-left: auto;
	margin-right: 0;
}

.cc-right {
	margin-right: auto;
	margin-left: 0;
}

/*------did you know------*/

.did-you-know {
	position: relative;
}

.dyk-box {
	background-color: #2498f4;
	color: white;
	margin: 4%;
	position: relative; 
	border-radius: 10px;
}

.dyk-text {
	display: inline-block;
	margin-left: 6%;
	margin-right: 6%;
}

.dyk-text p {
	margin-left: 10%;
	margin-bottom: 0;
	margin-right: 8%;
	padding-bottom: 0%;
}

.dyk-text .dyk-p {
	padding-bottom: 2%;
}

.dyk-text p + p {
	padding: 0;
}

.dyk-head {
	padding-bottom: -2%;
	margin-bottom: -1%;
	padding-top: 2%;
}

.left-circle {
	float: left;
	display: inline-block;
	top: 120%;
	transform:translateY(120%);

}

.right-circle {
	float: right;
	display: inline-block;
	top: 160%;
	transform:translateY(-160%);
}

/*-----ads-------*/

.management {
	margin-left: 10%; 
}

.bottom-ads {
	padding-top: 2%;
	padding-bottom: 2%;
	background: #2498f4;
}


/*------footer------*/

.footer {
	margin-top: 5%;
	background: #f9f9f9;
	background: -webkit-linear-gradient(#f5f5f5, #fff);
	background: -o-linear-gradient(#f5f5f5, #fff);
	background: -moz-linear-gradient(#f5f5f5, #fff);
	background: linear-gradient(#f5f5f5, #fff);
	background-size: cover;
	width: 100%;
	height: 3.1em;
	margin-left: 0;
	margin-right: 0;
	border-top: 1px solid #f1f1f1;
	-webkit-box-shadow: 0px -6px 6px -5px rgba(226,226,226,1);
	-moz-box-shadow: 0px -6px 6px -5px rgba(226,226,226,1);
	box-shadow: 0px -6px 6px -5px rgba(226,226,226,1);
	position: relative;
}

.footer-row {
	border-top: 2px solid #fbfbfb;
}

.footer-1 p{
	float: right;
	padding-right: 4%;
	padding-top: 3%;
	color: #999999;
}

.footer-2 img {
	float: right;
	padding-top: 8px;
	padding-right: 0%;
}

.footer-2 {
	padding-top: 10px;
	color: #999999;
}

.footer-3 img {
	margin-left: -1%;
}

.footer-3 {
	padding-top: 7px;
}

.footer-4 {
	padding-top: 1%;
}

.fb-square {
	background-image: url(fb-square.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
	width: 20px;
	float: left;
}

.fb-square:hover {
	background: url(grey-fb-square.png);
	height: 16px;
	width: 20px;
	float: left;
}

.twit-square {
	background-image: url(twitter-square.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
	width: 20px;
	float: left;
}

.twit-square:hover {
	background: url("grey-twitter-square.png");
	height: 16px;
	width: 20px;
	float: left;
}

.foursquare-square {
	background-image: url(foursquare-square.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
	width: 20px;
	float: left;
}

.foursquare-square:hover {
	background: url("grey-foursquare-square.png");
	height: 16px;
	width: 20px;
	float: left;
}

.yt-square {
	background-image: url(yt-square.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
	width: 20px;
	float: left;
}

.yt-square:hover {
	background: url("grey-yt-square.png");
	height: 16px;
	width: 20px;
	float: left;
}

.line {
	color: #dddddd;
}

.blue {
	color: #2498f2;
}

.footer-col {
	border: 1px solid #e9e9e9;
}


